snippet pragma
	// SPDX-License-Identifier: MIT
	pragma solidity ${1:version};

snippet contract
	contract ${1:name} {
		${2}
	}

snippet function
	function ${1:name}() {
		${2}
	}

snippet constructor
	constructor(${1:params}) {
		${2}
	}
