snippet view
	<view class="${1}">${2}</view>

snippet script
	<script src="${1}"></script>

snippet style
	<style lang="scss" src="${1}"></style>

snippet image
	<image class="${1}" src="${2}" />

snippet template
	<template>${1}</template>

	<script src="${2}"></script>
	<style lang="scss" src="${3}" scoped></style>

snippet v-for
	v-for="${1}" :key="${2}"

snippet div
	<div class="${1}">${2}</div>

snippet img
	<img class="${1}" src="${2}"/>
